@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-menu {
  background-color: black; /* Màu nền mặc định */
  color: white; /* Màu chữ mặc định */
}


.custom-menu .ant-menu-title-content {
  color: white;
  align-items: center;
}

.custom-menu .ant-menu-item:hover {
  background-color: white; /* Màu nền khi hover */
  color: black; /* Màu chữ khi hover */
}


.custom-menu .ant-menu-item-selected {
  background-color: white; /* Màu nền khi được chọn */
}

.custom-menu .ant-menu-item-selected .ant-menu-title-content {
  color: black; /* Màu chữ khi được chọn */
}

.custom-menu .ant-menu-item-selected .anticon {
  color: black !important;
}

.custom-menu .ant-menu-item-selected:hover {
  background-color: white; /* Màu nền khi được chọn và hover */
  color: black; /* Màu chữ khi được chọn và hover */
}

.custom-menu .ant-menu-sub .ant-menu-item .anticon {
  color: white !important;
}

.custom-menu .ant-menu-sub .ant-menu-item-selected .anticon {
  color: black !important;
}

.thread-bar {
  background-color: black ;
}

.thread-bar .ant-menu-item {
  background-color: #3d494e;
  border-radius: 20px !important;
  margin: 5px !important; 
  font-size: 14px;
}

.thread-bar .ant-menu-item::after {
  border-bottom: none !important;
}

.thread-bar .ant-menu-item-selected {
  background-color:#d93900 !important;
  border: none;
  font-weight: 500;
}


.thread-bar .ant-menu-item .ant-menu-item-icon {
  color: white;
}

.thread-bar .ant-menu-item .ant-menu-title-content {
  color: white;
}